<h3 class="mt-5">{{title}}</h3>
<form class="form-group" action="/quote/add" method="POST" >  
    <input type="hidden" name="id" value="{{q._id}}">
    <label for="">Name</label>
    <input type="text" value="{{q.name}}" class="form-control" name="name">
    <label for="">Quote</label>
    <input type="text"   value="{{q.quote}}" class="form-control" name="quote">
    <button class="mt-3 btn btn-danger"type="submit">Submit</button>
    <a href="/quote/list" class="btn btn-primary btn-default mt-3">View List</a>
    
</form>